@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #02134b;
}
/*header styles*/
body > header {
    position: fixed;
    background: white;
    height: 40px;
    width: 98vw;
    top: 0;
    z-index: 10;

}

body > header > h1 {
    position: relative;
    display: inline;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

body > header > h1 > span {
    color: #FF2400;
}


body > header > nav {
    position: absolute;
    display: inline-block;
    right: 100px;
    top: 0;
}

body > header > nav > menu {
    position: relative;

}

body > header > nav > menu > li {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    text-decoration: red;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}
body>section{
    top:50px;
}

/*slide show gallery*/

.gallery{
    width:900px;
    display:flex;
    overflow-x:scroll;
}

.gallery div{
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    padding:10px;
    flex:none;
}

.gallery div img{
    width:100%;
}

.gallery::-webkit-scrollbar{
    display:none;
}
footer {
    position: relative;
    color: #fff;
    height: 30px;
    padding: 10px;
    bottom: -100vh;
    background-color: red;
    font-family: 'Karla Medium', sans-serif;
    font-size: 20px;
}

footer > p {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    bottom: 0;
    margin: auto;
}

footer > p > span:nth-child(3) {
    position: relative;
    width: fit-content;
    padding-left: 100px;
}




