main{
    position: relative;
    height: 600vh;
    width: 98vw;

}

body>main>header{
    position:fixed;
    background: white;
    height: 50px;
    width: 98vw;
    top: 0;
    z-index: 10;

}
body>main>header>p{
    position: relative;
    display: inline;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
body>main>header>p>span{
    color: red;
}


body>main>header>nav{
    position: absolute;
    display: inline-block;
    right: 100px;
    top: 0;
}

body>main>header>nav>menu{
    position: relative;

}

body>main>header>nav>menu>li{
    position: relative;
    display: inline-block;
    padding-right: 10px;
    text-decoration: red;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}

body>main>section{
    position: relative;
    height: 100vh;
    width: 98vw;
    top: 50px;
}

body>main>section:nth-child(2) span{
    color: red;
}
body>main>section:nth-child(2)>p:nth-child(1){
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    display: inline;
    z-index: 1;
    left: 100px;
    text-align: left;
    top: 50px;

}
body>main>section:nth-child(2)>div{
    position: sticky;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body>main>section:nth-child(2)>div>img{
    position: relative;
    display: block;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

body>main>section:nth-child(2)>p:nth-child(3){
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    display: inline;
    z-index: 1;
    right: 100px;
    text-align: right;
    bottom: 100px;
}

body>main>section:nth-child(3)>p:nth-child(1){
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    display: inline;
    z-index: 1;
    left: 100px;
    text-align: right;
    top: 0px;
}

body>main>section:nth-child(3)>div{
    top: 50px;
}

body>main>section:nth-child(3)>div figure{
    position: relative;
    display: inline;
    top: 150px;
    margin: 0;
    left: 100px;

}

body>main>section:nth-child(3)>div figure>figcaption{
    position: relative;
    display: inline;


}
body>main>section:nth-child(3)>p:nth-child(3){
    position: absolute;
    display: inline;
    text-align: center;
    font-size: 35px;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;

}

body>main>section:nth-child(4)>div figure{
    position: relative;
    display: inline;
    left: 100px;
    top: 100px
}
body>main>section:nth-child(4)>div figure>figcaption{
    position: absolute;
    display: inline;
    left: 70px;
    right: 0;
    bottom: 0;
    margin: auto;

}

body>main>section:nth-child(4)>div>p{
    position: absolute;
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;

    bottom: 100px;
    margin: auto;
}

body>main>section:nth-child(5)>div figure{
    position: absolute;
    display: inline;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px
}
body>main>section:nth-child(5)>div figure>figcaption{
    position: relative;
    display: inline;
    left: 70px;
    right: 0;
    bottom: 0;
    margin: auto;

}

body>main>section:nth-child(5)>div>p{
    position: absolute;
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;

    bottom: 100px;
    margin: auto;
}