/*section header*/
header{
    height: 200px;
    position: center;
}

.headerMain{
    display: flex;
    align-items: center;
    min-height: 10vh;
    max-height: 100px;
}

/*hoe page navigation area and page name*/
#mainNav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;

}
.as {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    white-space: normal;
    text-align: center;
    padding: 5px;

}

menu li{
    display: flex;
    list-style: none;
    white-space: normal;
    padding: 0 5px;
}

#pageName{
    font-family: inter;
    font-weight: bolder;
    font-size:x-large;
    color: #1a1717;
    padding-right: 500px;
}


/*main page body area*/
body{
    width: auto;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
}

/*cursor animation after the hi there*/
.cursor span::after{
    content: "";
    width: 5px;
    height: 20px;
    background: red;
    display: inline-block;

    animation: cursor-blink 1.5s steps(2) infinite;
}


/*changed all seperated text to red*/
span{
    color: rgba(255, 0, 0, 0.8);
    font-weight: bold;
}


#hi{
    color: #151414;
    font-style: italic;
}

/*change all paragraph color*/
p{
    color: #151414;
    font-family: "Paytone One";
}

#homeSec{
    height: 766px;
}
#introP1{
    font-size: xx-large;
    animation-name: cursor;
    animation-duration: 4s;
}

#luciHomePic{
    display: block;
    margin: 0 auto;
    width: 40%;


}

#introP2{
    font-size: large;
    text-align: right;
}

#homeSec{
    height:available;
}


/*Lang page*/
#languageIcon{

}

/*Foot area*/
#footNote{
    background-color: #363636;

}
#copyRight{
    text-align: left;
    color: white;
}
#year{
    text-align: center;
    color: white;
}

#made{
     text-align: right;
    color: white;
 }


